# ======================
# APP ENV
# ======================
APP_ENV = uat

# ======================
# FRONTEND URL
# ======================
FRONTEND_BASE_URL = http://localhost:3000

# ======================
# DATABASE
# ======================
DB_HOST=localhost
DB_NAME=ticketbay_movieTicket
DB_USER=ticketbay_abhay
DB_PASSWORD=abhay$ticketbay@2024

# ======================
# SMTP
# ======================
SMTP_HOST=mail.ticketbay.in
SMTP_PORT=465
SMTP_MAIL=noreply@ticketbay.in
SMTP_PASSWORD=abhay$ticketbay@2024

# ======================
# PHONEPE - UAT
# ======================
PHONEPE_UAT_MERCHANT_ID=TICKETBAYUAT
PHONEPE_UAT_API_KEY=aa2fbb7d-de50-4e3e-b628-c5ee22468e47
PHONEPE_UAT_URL=https://api-preprod.phonepe.com/apis/pg-sandbox/pg/v1/pay
PHONEPE_UAT_REFUND_URL=https://api-preprod.phonepe.com/apis/pg-sandbox/pg/v1/refund
PHONEPE_UAT_STATUS_URL=https://api-preprod.phonepe.com/apis/pg-sandbox/pg/v1/status/

# ======================
# PHONEPE - PROD
# ======================
PHONEPE_PROD_MERCHANT_ID=M22EJS7CELBPU
PHONEPE_PROD_API_KEY=dd3ac85a-750a-42d8-bca2-08b7afabee0c
PHONEPE_PROD_URL=https://api.phonepe.com/apis/hermes/pg/v1/pay
PHONEPE_PROD_REFUND_URL=https://api.phonepe.com/apis/hermes/pg/v1/refund
PHONEPE_PROD_STATUS_URL=https://api.phonepe.com/apis/hermes/pg/v1/status/